<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="noaaSstGetUrl" value="https://psl.noaa.gov/cgi-bin/mddb2/plot.pl?doplot=0&amp;varID=156648&amp;fileID=0&amp;itype=0&amp;variable=sst&amp;levelType=Surface&amp;level=Surface&amp;timetype=weekly&amp;fileTimetype=weekly&amp;year1=##YEAR##&amp;month1=##MONTH##&amp;day1=##DAY##&amp;hr1=00%20Z&amp;year2=##YEAR##&amp;month2=##MONTH##&amp;day2=##DAY##&amp;hr2=00%20Z&amp;region=All&amp;area_north=90&amp;area_west=0&amp;area_east=360&amp;area_south=-90&amp;centerLat=0.0&amp;centerLon=270.0" />
    <add key="noaaAwsGetUrl" value="https://noaa-gefs-pds.s3.amazonaws.com/gefs.##DATETIME_SST##/00/atmos/pgrb2ap5/gec00.t00z.pgrb2a.0p50.f000" />
    <add key="apiBaseUri" value="https://ocpa.ro/api" />
    <add key="apiCredentials" value="ocpa:xTg23fc@" />
  </appSettings>
</configuration>