<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="noaaSstGetUrl" value="https://noaa-cdr-sea-surface-temp-optimum-interpolation-pds.s3.amazonaws.com/data/v2.1/avhrr/##YEAR####MONTH##/oisst-avhrr-v02r01.##YEAR####MONTH####DAY##.nc" />
    <add key="noaaAwsGetUrl" value="https://noaa-gefs-pds.s3.amazonaws.com/gefs.##DATETIME_SST##/00/atmos/pgrb2ap5/gec00.t00z.pgrb2a.0p50.f000" />
    <add key="apiBaseUri" value="https://ocpa.ro/api" />
    <add key="apiCredentials" value="ocpa:xTG23fc@" />
  </appSettings>
</configuration>

