<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="emailServer" value="pop.gmail.com" />
    <add key="emailPort" value="995" />
    <add key="emailAccount" value="ocpa.weather@gmail.com" />
    <add key="emailPassword" value="3#tavik!" />
    <add key="emailUseSSL" value="true" />
    <add key="emailSenderAddress" value="esrl.psd.reforecast2@noaa.gov" />

    <add key="noaaServerPostUrl" value="https://psl.noaa.gov/cgi-bin/forecasts/reforecast2/download_refcst2.py" />
    <add key="noaaRefererUrl" value="https://psl.noaa.gov/forecasts/reforecast2/download.html" />
    <add key="noaaPostContentType" value="application/x-www-form-urlencoded" />
    <add key="noaaPostBody" value="grid_type=latlon&amp;first_data=##SST_DATE##&amp;last_data=##SST_DATE##&amp;param=##PARAM_NAME##&amp;level=1000&amp;level=850&amp;level=500&amp;startDate=##SST_DATE##&amp;endDate=##SST_DATE##&amp;date_period=day&amp;fhour_hi=0&amp;ensemble=control&amp;region=GBL&amp;select_region=custom_region&amp;area_north=89&amp;area_west=0&amp;area_east=360&amp;area_south=-89&amp;point_latitude=&amp;point_longitude=&amp;output=netcdf4&amp;email=##EMAIL_ACCOUNT##&amp;Create=Retrieve+Data" />


    <add key="noaaSst_VID" value="1296" />
    <add key="noaaSst_DID" value="62" />
    <add key="noaaSst_Lookup" value="/cgi-bin/DataAccess.pl?DB_dataset=NOAA+Optimum+Interpolation+(OI)+SST+V2&amp;DB_variable=Sea+Surface+Temperature&amp;DB_statistic=Mean&amp;"/>

    <add key="noaaSstSearchUrl" value="https://psl.noaa.gov/cgi-bin/db_search/DBSearch.pl?Dataset=NOAA+Optimum+Interpolation+(OI)+SST+V2&amp;Variable=Sea+Surface+Temperature"/>
    <add key="noaaSstGetUrl" value="https://psl.noaa.gov/cgi-bin/GrADS.pl?dataset=NOAA+Optimum+Interpolation+%28OI%29+SST+V2&amp;file=%2FDatasets%2Fnoaa.oisst.v2%2Fsst.wkmean.1990-present.nc&amp;variable=sst&amp;##VID_PID_TID##&amp;units=degC&amp;longstat=Mean&amp;DB_statistic=Mean&amp;stat=&amp;lat-begin=-89&amp;lat-end=89&amp;lon-begin=0&amp;lon-end=360&amp;dim0=time&amp;year_begin=##YEAR##&amp;mon_begin=##MONTH##&amp;day_begin=##DAY##&amp;year_end=##YEAR##&amp;mon_end=##MONTH##&amp;day_end=##DAY##&amp;X=lon&amp;Y=lat&amp;output=file&amp;bckgrnd=black&amp;use_color=on&amp;fill=lines&amp;cint=&amp;range1=&amp;range2=&amp;scale=100&amp;submit=Create+Plot+or+Subset+of+Data"/>
    
  </appSettings>
</configuration>
