<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net40" />
  <package id="Grib.Api" version="0.7.1" targetFramework="net471" />
  <package id="Majestic12HtmlParser" version="3.1.4" targetFramework="net40" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="OpenPop" version="2.0.6.2" targetFramework="net40" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="OxyPlot.Wpf" version="2.0.0-unstable1035" targetFramework="net471" />
</packages>